{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block title %} Index | Page {% endblock %} </title>

    
{% block content %}

   
<section class="header-main w-100 vh-100 justify-content-center d-flex" >           
    <div class="background-overlay"></div>                                 
    <img class="background-image" src="{% static 'assets/img/backg.jpg' %}" alt="">    
    <div class="banner-text-area text-center">
        <h2 class="banner-text">
            <span style="font-family: 'SANSERN', sans-serif;">KING'S</span>
        </h2>
        <hr style="background-color: rgb(255, 254, 254); margin: auto; width: 5.5em; height: 0.3em;">
        <h1 class="mt-3">Executive Barber & Spa</h1>
        <hr style="background-color: beige; margin: auto; width: 100%; height: 0.3em;">  
        <div class="slide-btn">
            <a class="btn rounded-pill appointment-btn" href="#about">&downdownarrows;</a>
        </div>
    </div>                                       
</section>

<!-- About Us Section -->

<div id="about" class="container about-s mt-5 mb-5">
    <div class="row text-center mt-3 mb-2">
        <div class="col-md-12">
            <div class="section-header">
                <h2><span>About</span> Us</h2>
                <div class="line"><img src="{% static 'assets/img/icon-1.png' %}" alt=""></div>
                <p class="sub-head mt-2">Welcome to &copy; <span style="color: darkgoldenrod;">Executive Kings Barbershop & Spa</span> &copy;</p>
            </div>
        </div>
    </div>
    <div class="row about-row justify-content-center align-items-center">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="owl-carousel owl-theme about-video"  id="videocarousel" data-bs-ride="true">                    
                <div class="item single-video text-center">
                    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@busu.j/video/7241576429975047430"
                        data-video-id="7241576429975047430" style=" max-width:80vh;max-height:50vh;" > 
                        <section>
                            <a target="_blank" title="@busu.j" href="https://www.tiktok.com/@busu.j?refer=embed">@busu.j</a> <p></p> 
                            <a target="_blank" title="♬ Nani - Zuchu" href="https://www.tiktok.com/music/Nani-7229329703038945282?refer=embed">♬ Nani - Zuchu</a> 
                        </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>                                                
                </div>
                <div class="item single-video">
                    <a href="https://web.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fpages&_rdc=1&_rdr"> 
                        <i class="fas fa-play"></i>
                    </a>
                    <!-- <video controls class="d-block w-100 img-fluid">
                        <source src="{% static 'assets/video/video.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->
                    <img src="{% static 'assets/img/blog1.jpg' %}" class="d-block w-100 img-fluid" alt="about image"> change image
                </div>
                <div class="item single-video">
                    <a href="https://www.tiktok.com/@dailyug/video/7229364895077174533" class=""> 
                        <i class="fa fa-play"></i>
                    </a>
                    
                    <img src="{% static 'assets/img/port-3.jpg' %}" class="d-block w-100 img-fluid" alt="about image"> <!--change image -->
                </div>                                                            
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="about-main">
                <!-- <h3>Why Choose Us?</h3> -->
                <h2>We are Your Best Choice</h2>
                <div class="single-about">
                    <p>We prioritize customer satisfaction and strive to exceed your exepctations with personalized consultations and attention to detail. Our Skilled barbers deliver tailored haistyles that suits your unique personality and lifestyle Visit us to unleash your true confidence through exceptional hair care.</p>
                </div>
                <a href="#" class="btn btn-warning rounded-pill">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<!-- End About Us Section -->

<!-- Our Services -->

<div class="services-area">
    <div class="container mt-5">
        <div class="row text-center ">
            <div class="col-md-12">
                <div class="section-header">
                    <h2><span>Our</span> Services</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head text-muted fw-bold">&divonx;  Experience the finest in grooming services as we offer a diverse range of treatments at our barbershop  &divonx;</p>
                    
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-sm-12">
                <div class="slider">
                    <div class="owl-carousel owl-theme" id="services-carousel">
                        
                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-cut"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Amenities</h3> 
                                <hr>
                                <p class="text-muted">&divonx; Ample Parking</p> 
                                <p class="text-muted">&divonx; Next To Pizza INN</p> 
                                <p class="text-muted">&divonx; Car Wash Available</p>  
                                <p class="text-muted">&divonx; Back up Generator</p>
                            </div>                    

                        </div>

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-tint"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Shave</h3>      
                                <hr>                       
                                <span>&divonx; Kids shave</span> <br>
                                <span>&divonx; Students shave</span> <br>
                                <span>&divonx; Smooth shave</span>  <br>
                                <span>&divonx; Shave / Babylocks</span>                          
                            </div>
                        </div>

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-diamond"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Dye Services</h3> 
                                <hr>
                                <span>&divonx; Dye-MIN  </span>  <br>
                                <span>&divonx; Own Dye  </span> <br>
                                <span>&divonx; Coloured Dye </span>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-diamond"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Hair Color</h3> 
                                <hr>
                                <p>Explore a world of stunning possibilities with our expert hair colouring treatments, tailored to transform your look and express your unique style.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-cut"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Hair Treatment</h3> 
                                <hr>
                                <p>Indulge in our repetoire of exquisite hair treatment ,meticulously designed to nourish, repair and elevate the health and radiance of your hair, strands and locks.</p>
                            </div>
                        </div>

                        

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-cut"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>HairCut</h3> 
                                <hr>
                                <p>Experince the artistry of our skilled stylists in shaping your hair into stunning, fashionabe haircuts that reflect you individuality and elevate your style.</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-hand-scissors-o"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Beard Triming</h3> 
                                <hr>
                                <p>Refine your facial appearance with our meticulous beard trimming services, ensuring a polished and well-groomed look.</p>
                            </div>
                        </div>

                        

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-dashcube"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                
                                <h3>&divonx; Face Scrub (PLAIN)</h3>
                                <hr>
                                <p>Unveil a smooth, refreshed and glowing complexion</p>
                                
                            </div>

                        </div> 
                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-dashcube"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Face Masking</h3> 
                                <hr>
                                <p>Experience the ultimate relaxation and nourishment for your skin with our luxurious face masking services.</p>
                            </div>
                        </div>                                                       

                        <div class="item">
                            <div class="services-icon">
                                <i class="fa fa-tint"></i>
                            </div>
                            <div class="services-content text-start text-muted">
                                <h3>Massage Services</h3>  
                                <hr>                                           
                                <p class="text-muted">&divonx; Head Massage</p>
                                <p class="text-muted">&divonx; Neck Massage</p>
                                <p class="text-muted">&divonx; Leg Massage</p> 
                                <p class="text-muted">&divonx; Shave / Babylocks</p> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                
<!-- End  Our Services -->

<!-- Portfolio Section -->

<div id="portfolio" class="portfolio-area">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2><span>Our</span> Works</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head fw-bold text-muted">&middot; Browse &middot; Our gallery of stunning creations, showcasing the skillful craftsmaship of our talented experts and professionals </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
        <div class="portfolio-content">
            <div class="port-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="port-nav-list">
                                <li>
                                    <a class="{% if not category %}active{% endif %}" href="{% url 'index' %}#portfolio">All</a>
                                </li>
                                {% for cat in work_categories %}
                                <li>
                                    <a class="{% if category and category.id == cat.id %}active{% endif %}"
                                       href="{% url 'index' %}?category_id={{ cat.id }}#portfolio">{{ cat.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="items-section" class="container">
                <div class="row port-items"  style="position: relative; height: 570px;">

                    {% for item in items %}

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port hstyle " style="position: absolute; left: 0px; top: 0px;">
                        <div class="project-item"> 
                            <h2>{{ item.title }}</h2>                                                                          
                                                                  
                        </div>
                    </div>

                    {% empty %}
                        <h4> No items available in this category. </h4>
                    {% endfor %}

                                              

                </div>
            </div>

        </div>
    </div>
</div> 

<!-- End portfolio Section -->


<!--pricing area starts-->

<div id="pricing" class="pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2><span>Our</span> Pricing</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head mt-3 fw-bold text-muted">&divonx;  Transparent pricing options that accomodate your budget without compromising on the quality of our exceptional services  &divonx;</p>
                </div>
            </div>
        </div>

        <div class="row g-3">    
            {% for price in price %}
                <div class="col-lg-4 col-md-3 col-sm-4 pricing-col mt-2 mb-2">
                    <div class="single-pricing-box ">
                        <h3>{{price.name}}</h3>
                        <div class="pricing">
                            <span class="price-label" >Price</span>
                            <span class="price">ksh {{price.price}}</span>
                        </div>      
                                                                                                                            
                    </div>                    
                </div>
            {% endfor %}                                                   
        </div>
    </div>
</div>

<!--pricing area ends-->

<!-- Team Section -->

<div id="team" class="team-area mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2><span>Our</span> Team</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head text-muted fw-bold">Meet our talented team of professionals dedicated to providing exceptional services and ensuring your utmost satisfaction</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-item xs-mb-30 sm-mb-30">
                    <div class="imgg-area">
                        <img src="{% static 'assets/img/1.jpg' %}"  alt="team image"> 
                    </div>
                    <div class="team-social-icons">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h4>David Warner<span>Barber</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-item xs-mb-30 sm-mb-30">
                    <div class="imgg-area">
                        <img src="{% static 'assets/img/2.jpg' %}" alt="team image"> 
                    </div>
                    <div class="team-social-icons">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h4>David Miller <span>Shaver</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-item xs-mb-30">
                    <div class="imgg-area">
                        <img src="{% static 'assets/img/3.jpg' %}" alt="team image"> 
                    </div>
                    <div class="team-social-icons">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h4>Steven Smith<span>Hair Stylist</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-item">
                    <div class="imgg-area">
                        <img src="{% static 'assets/img/4.jpg' %}" alt="team image"> 
                    </div>
                    <div class="team-social-icons">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <h4>Paul Edwards<span>Hair Trimmer</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Team Section -->


<!-- Testimonial section -->

<!-- <div id="testimonial" class="testimonial-area">
    <div class="container mt-5">
        <div class="row text-center ">
            <div class="col-md-12">
                <div class="section-header">
                    <h2><span>Client</span> Says</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head text-muted fw-bold">Hear what our valued clients have to say about their experinces</p>
                    
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-sm-12">
                <div class="slider">
                    <div class="owl-carousel owl-theme" id="testimonial-carousel">
                        
                        
                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 1</h3>
                                <hr >
                                <p>" Hii place ikona game kali sana, huduma zao ziko freshii na wanahandle mambo poa. Siezi acha kurecommend wasee hapa! "</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 2</h3> 
                                <hr >
                                <p>" This barbershop is top-notch!. The barbers really know their stuff, and the hairstyles they deliver are amazing. I can't recommend enough. "</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 3</h3> 
                                <hr >
                                <p>" I am definitely coming back!. I had an incredible massage that made me feel refreshed and tension-free."</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 4</h3> 
                                <hr >
                                <p>I couldn't be happier with the oustanding service I received at the barbershop. I walked out with a fresh haicut that exceed my expectations. Highly recommended.</p>                                            
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
                        
<!-- End Testimonial section -->


<!--Contact Area Starts-->

<div id="contact" class="contact-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center mt-3 mb-4">
                    <h2><span>Contact</span> Us</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head mt-3 txt-muted fw-bold">&middot; Reach out to us so as to assist you and provide any information you need &middot;</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box-contact-form">

                <form id="contact-form" method="post" action="https://mourithemes.com/alexandra/contact.php" novalidate="true">

                    <div class="messages"></div> <!--you can change the message in contact.php file -->

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Enter your full name *" required="required" data-error="Fullname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Enter your email *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Your Message *" rows="4" required="required" data-error="Leave a message for me"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-send" value="">Send message</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 mt-sm-4 mt-md-4">
                <div class="opening-hours-wrap mt-30">
                    <h3>Opening Hours</h3>
                    <ul class="opening-hours">
                        <li>Monday<span class="pull-right">8.00 - 19.00</span></li>
                        <li>Tuesday <span class="pull-right">8.00 - 19.00</span></li>
                        <li>Wednesday <span class="pull-right">8.00 - 19.00</span></li>
                        <li>Thursday <span class="pull-right">8.00 - 19.00</span></li>
                        <li>Friday <span class="pull-right">8.00 - 19.00</span></li>
                        <li>Saturday <span class="pull-right">8.00 - 19.00</span></li>
                        <li>Sunday <span class="pull-right">Closed</span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Contact Area Ends-->



{% endblock %}