<!-- Portfolio Section -->

<div id="portfolio" class="portfolio-area">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2><span>Our</span> Works</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head fw-bold text-muted">&middot; Browse &middot; Our gallery of stunning creations, showcasing the skillful craftsmaship of our talented experts and professionals </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="portfolio-content">
            <div class="port-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="port-nav-list">
                                <li><a class="img-filter active" data-filter="*">All</a></li>
                                <li><a class="img-filter" data-filter=".cut">Hair Cut</a></li>
                                <li><a class="img-filter" data-filter=".shave">Shaves</a></li>
                                <li><a class="img-filter" data-filter=".hstyle">Hair Style</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row port-items" id="img-filter" style="position: relative; height: 570px;">

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port hstyle shave" style="position: absolute; left: 0px; top: 0px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-1.jpg' %}" class="zoom1">
                                <img src="{% static 'assets/img/port-1.jpg' %}" alt="portfolio image">
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port cut hstyle" style="position: absolute; left: 380px; top: 0px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-3.jpg' %}" class="zoom1"> 
                                <img src="{% static 'assets/img/port-3.jpg' %}" alt="portfolio image"> 
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port shave" style="position: absolute; left: 760px; top: 0px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-4.jpg' %}" class="zoom1"> 
                                <img src="{% static 'assets/img/port-4.jpg' %}" alt="portfolio image"> 
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port shave hstyle" style="position: absolute; left: 0px; top: 285px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-6.jpg' %}" class="zoom1"> 
                                <img src="{% static 'assets/img/port-6.jpg' %}" alt="portfolio image"> 
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port shave cut shaves" style="position: absolute; left: 380px; top: 285px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-2.jpg' %}" class="zoom1"> 
                                <img src="{% static 'assets/img/port-2.jpg' %}" alt="portfolio image"> 
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 single-port cut" style="position: absolute; left: 760px; top: 285px;">
                        <div class="project-item">
                            <a href="{% static 'assets/img/port-5.jpg' %}" class="zoom1"> 
                                <img src="{% static 'assets/img/port-5.jpg' %}" alt="portfolio image"> 
                                <div class="overlay">
                                    <div class="overlay-inner">
                                        <h4>Hair Saloon</h4>
                                        <p>Classic Barber Shop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div> 

<!-- End portfolio Section -->



<img src="{% static 'assets/img/port-3.jpg' %}" class="d-block w-100 img-fluid" alt="about image">
<!-- <a href="https://www.tiktok.com/@dailyug/video/7229364895077174533" class=""> 
        <i class="fa fa-play"></i>
    </a> -->



    
<!-- <hr style="width: 80%;margin: 0 auto; height:50px;background:rgb(0, 0, 0);border-radius:100% 0%;">  -->
<!-- <hr style="width: 80%;margin: 0 auto; height:20px;background:rgb(185, 42, 42);border-radius:0 0 50% 50%;">  -->

<!-- curved section -->
<!-- <div style="
    width: 90%;
    margin:auto;
    height: 10svh;
    background-color: transparent;
    border-bottom: 10px solid black;
    border-radius:0 0 50% 50% ;        
    bottom: 0;
">
</div> -->


<!-- <span>&divonx; Kids shave</span> <br>
    <span>&divonx; Students shave</span> <br>
    <span>&divonx; Smooth shave</span>  <br>
    <span>&divonx; Shave / Babylocks</span>  -->


<!-- Testimonial section -->

<!-- <div id="testimonial" class="testimonial-area">
    <div class="container mt-5">
        <div class="row text-center ">
            <div class="col-md-12">
                <div class="section-header">
                    <h2><span>Client</span> Says</h2>
                    <div class="line"><img src="{% static 'assets/img/2.png' %}" alt=""></div>
                    <p class="sub-head text-muted fw-bold">Hear what our valued clients have to say about their experinces</p>
                    
                </div>
            </div>
        </div>

        <div class="row"> 
            <div class="col-sm-12">
                <div class="slider">
                    <div class="owl-carousel owl-theme" id="testimonial-carousel">
                        
                        
                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 1</h3>
                                <hr >
                                <p>" Hii place ikona game kali sana, huduma zao ziko freshii na wanahandle mambo poa. Siezi acha kurecommend wasee hapa! "</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 2</h3> 
                                <hr >
                                <p>" This barbershop is top-notch!. The barbers really know their stuff, and the hairstyles they deliver are amazing. I can't recommend enough. "</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 3</h3> 
                                <hr >
                                <p>" I am definitely coming back!. I had an incredible massage that made me feel refreshed and tension-free."</p>                                            
                            </div>
                        </div>

                        <div class="item">
                            
                            <div class="testimonial-content">
                                <h3>Client 4</h3> 
                                <hr >
                                <p>I couldn't be happier with the oustanding service I received at the barbershop. I walked out with a fresh haicut that exceed my expectations. Highly recommended.</p>                                            
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
                        
<!-- End Testimonial section -->



<!--  Testimonial area css -->
<!-- 
.testimonial-area{           
    background: rgba(223, 235, 234, 0.9);
}
.item{    
    color: white;
    text-align:center;
    padding: 5px;
    border-radius: 5px;
    line-height: 26px;
    letter-spacing: 5px;
}
.item .testimonial-content h3{
    font-family: "Raleway", sans-serif;
    color: #f4f4f4;
    position: relative;
}
.testimonial-area .section-header h2{
    color: #000;
}
.testimonial-area .section-header p{
    color: #000;
} -->

<!-- /* Testimonial area end */ -->



